.home-page {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dual-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

@media (max-width: 968px) {
  .dual-column {
    grid-template-columns: 1fr;
  }
}
